@use 'sass:meta';
@use 'sass:map';
@use '../../renderer/theme' as theme;

$theme-variables: meta.module-variables(theme);
@mixin theme-var($prop, $value, $theme: 'light') {
  $suffix: '';
  @if $theme == 'dark' {
    $suffix: '-dark';
  }

  @if $value == '' {
    #{'--' + $prop}: map.get($theme-variables, #{$prop}#{$suffix});
    #{'--luna-' + $prop}: map.get($theme-variables, #{$prop}#{$suffix});
  } @else {
    #{'--' + $prop}: $value;
    #{'--luna-' + $prop}: $value;
  }
}

@mixin theme-vars($vars, $theme) {
  @each $var in $vars {
    @if meta.type-of($var) == 'map' {
      @each $prop, $value in $var {
        @include theme-var($prop, $value, $theme);
      }
    } @else {
      @include theme-var($var, '', $theme);
    }
  }
}
